**Author**: Andy Tzanidakis \
Last updated: May 05, 2024

## VizieR Query

In [1]:
## ViZier and Aladin querying 
from pyvo import registry  # version >=1.4.1 
from mocpy import MOC
from ipyaladin import Aladin

In [8]:
# the catalogue name in VizieR
CATALOGUE = "J/ApJS/249/18"

catalogue_ivoid = f"ivo://CDS.VizieR/{CATALOGUE}"

# the actual query to the registry
voresource = registry.search(ivoid=catalogue_ivoid)[0]

tables = voresource.get_tables()

# We can also extract the tables names for later use
tables_names = list(tables.keys())

WARNING: W02: ?:?:?: W02: '' is not a valid datatype according to the VOSI spec [pyvo.io.vosi.vodataservice]

In [9]:
print (f"Available table names: {tables_names}")

Available table names: ['J/ApJS/249/18/table3', 'J/ApJS/249/18/table2']

In [11]:
# Let's read quickly the table description...
voresource.describe(verbose=True)

The ZTF catalog of periodic variable stars
Short Name: J/ApJS/249/18
IVOA Identifier: ivo://cds.vizier/j/apjs/249/18
Access modes: conesearch, tap#aux, web
Multi-capabilty service -- use get_service()

The number of known periodic variables has grown rapidly in recent years.
Thanks to its large field of view and faint limiting magnitude, the Zwicky
Transient Facility (ZTF) offers a unique opportunity to detect variable stars
in the northern sky. Here, we exploit ZTF Data Release 2 (DR2) to search for
and classify variables down to r~20.6mag. We classify 781,602 periodic
variables into 11 main types using an improved classification method.
Comparison with previously published catalogs shows that 621,702 objects
(79.5%) are newly discovered or newly classified, including ~700 Cepheids,
~5000 RR Lyrae stars, ~15000 {delta} Scuti variables, ~350,000 eclipsing
binaries, ~100,000 long-period variables, and about 150,000 rotational
variables. The typical misclassification rate and period accuracy are on the
order of 2% and 99%, respectively. 74% of our variables are located at
Galactic latitudes, |b|<10{deg}. This large sample of Cepheids, RR Lyrae,
{delta} Scuti stars, and contact (EW-type) eclipsing binaries is helpful to
investigate the Galaxy's disk structure and evolution with an improved
completeness, areal coverage, and age resolution. Specifically, the northern
warp and the disk's edge at distances of 15-20kpc are significantly better
covered than previously. Among rotational variables, RS Canum Venaticorum and
BY Draconis-type variables can be separated easily. Our knowledge of stellar
chromospheric activity would benefit greatly from a statistical analysis of
these types of variables.

Subjects: J/ApJS/249/18
Waveband Coverage: optical
More info: https://cdsarc.cds.unistra.fr/viz-bin/cat/J/ApJS/249/18

In [12]:
# Select the first table name
first_table_name = tables_names[0]

In [13]:
# Initialize TAP service
tap_service = voresource.get_service("tap")


tap_records = voresource.get_service("tap").run_sync(f'SELECT * from "{first_table_name}"')

In [14]:
table0 = tap_records.to_table()

# Convert to pandas dataframe
table_df = table0.to_pandas()

In [16]:
table_df.head(5)

,recno,ID,RAJ2000,DEJ2000,gmag,rmag,Per-g,Per-r,gAmp,rAmp,Ng,Nr,log(FAP-g),log(FAP-r)
0,812157,ZTFJ030128.43+014610.8,45.36846,1.76968,19.420,18.231,0.33219,279.84490,0.859,1.107,37,50,-1.719,-3.498
1,812394,ZTFJ030414.33+022711.3,46.05971,2.45314,17.153,15.699,1.81781,1.81711,0.114,0.103,42,51,-1.938,-4.268
2,811835,ZTFJ025758.53+020940.4,44.49391,2.16123,18.721,18.551,1.00094,1.00061,0.395,0.225,41,51,-2.784,-3.141
3,812450,ZTFJ030452.09+032521.5,46.21707,3.42264,18.333,17.019,2.01020,2.00564,0.200,0.132,42,51,-2.629,-4.353
4,812325,ZTFJ030331.34+033657.3,45.88060,3.61593,19.026,18.685,3.03231,1.48578,0.729,0.525,37,49,-1.250,-4.315